/**
 * 
 */
package com.semanticintelligence.app.service;

import com.semanticintelligence.app.domain.$domain;

/**
 * @author dinesh.bhavsar
 *
 */
public interface $class {

	public $domain save($domain obj);

	public $domain merge($domain obj);

	public void delete($domain obj);
	
}